$mainColor: #A52A2A;
$greyColor: #292929;
$lightColor: #F0F0F0;



$maxSmall: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$medWidth: "(min-width: 992px)";
$maxWidth: "(min-width: 1200px)";
